/.idea/.idea.University/.idea/.gitignore
/.idea/.idea.University/.idea/encodings.xml
/.idea/.idea.University/.idea/indexLayout.xml
/bin/Debug/netcoreapp3.1/University.deps.json
/bin/Debug/netcoreapp3.1/University.dll
/bin/Debug/netcoreapp3.1/University.exe
/bin/Debug/netcoreapp3.1/University.pdb
/bin/Debug/netcoreapp3.1/University.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/University.runtimeconfig.json
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/obj/Debug/netcoreapp3.1/apphost.exe
/obj/Debug/netcoreapp3.1/University.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/University.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/University.assets.cache
/obj/Debug/netcoreapp3.1/University.csproj.AssemblyReference.cache
/obj/Debug/netcoreapp3.1/University.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/University.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/University.dll
/obj/Debug/netcoreapp3.1/University.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/University.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/University.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/obj/University.csproj.nuget.dgspec.json
/obj/University.csproj.nuget.g.props
/obj/University.csproj.nuget.g.targets
